<body>
  <div class="container my-5">
    <h1>My Groups</h1>

    {{#each groupData}}
    <div class="card mb-3" style="background-color: #{{backgroundColor}} !important;">
      <div class="card-header d-flex align-items-center">
        <img width="75" src="/images/{{iconFileName}}" alt="{{group_name}} Icon">
        <h3 class="m-2">{{group_name}}</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Starting Liquidity: ${{starting_liquidity}}</h5>
        

        <!-- Wrap the buttons in a container -->
        <div class="" style="width: 100%;">
          <a class="btn btn-light" style="" href="/group?groupId={{group_id}}" >View Group</a>
          <a class="btn btn-light" style="" href="/portfolio?portfolioId={{portfolio_id}}" >View Portfolio</a>
        </div>
      </div>
    </div>
    {{/each}}

      <div class="row">
          <div class="col">
              <a href="/join_group" class="btn btn-primary rounded-pill me-1">Join Group</a>
              <a href="/create_group" class="btn btn-primary rounded-pill">+ Create Group</a>
          </div>
      </div>

    <div class="my-5"></div>



    


    
  </div>
</body>


