<body>
  <div class="container my-5">
    <div class="container my-4">
      <div class="row align-items-center">
        <div class="col-auto">
          <img width="100" src="/images/{{groupData.iconFileName}}" alt="{{groupData.group_name}} Icon" class="mr-2">
        </div>
        <div class="col">
          <h1 class="mb-0">{{groupData.group_name}}</h1>
          <h6 class="mt-2">Starting Liquidity : ${{groupData.starting_liquidity}}</h6>
        </div>
        <div class="col-auto">
          {{#if isAdmin}}
            <a href="/edit_group"><img width="40" src="/images/gear.svg" alt="Settings"></a>
          {{/if}}
        </div>
      </div>
    </div>


    <div class="card mb-3" style="background-color: #ef6d92 !important;">
      <div class="card-header d-flex align-items-center">
        <div class="rounded-circle bg-white d-flex justify-content-center align-items-center p-2 me-3" style="width: 50px; height: 50px;">
          <h4 class="m-0">#{{userPortfolio.rank}}</h4>
        </div>
        <h3 class="m-2">My Portfolio</h3>
      </div>

      <div class="card-body text-left">
        <h5 class="d-flex align-items-center justify-content-center  m-2 mb-3">Current Value: ${{userPortfolio.portfolioValue}}</h4>
        <h6 class="d-flex align-items-center justify-content-center  m-2">
          Top Stock: 
          {{#if userPortfolio.topStock}}
            {{userPortfolio.topStock}}
          {{else}}
            N/A
          {{/if}}
        </h4>
      </div>

      <div class="d-flex align-items-center justify-content-center " style="width: 100%;">
        <a  style="" href="/portfolio?portfolioId={{userPortfolio.portfolio_id}}" class="btn btn-light">Manage Portfolio</a>
      </div>

      <p></p>

    </div>


    <h2 class="py-3 m-0">Current Rankings:</h2>

    <div class="container">
      {{#if otherPortfolios.length}}
        {{#each otherPortfolios}}
          <div class="card mb-3" style="background-color: #{{backgroundColor}} !important;">
            <div class="card-header d-flex align-items-center">
              <div class="rounded-circle bg-white d-flex justify-content-center align-items-center p-2 me-3" style="width: 50px; height: 50px;">
                <h4 class="m-0">#{{rank}}</h4>
              </div>
              <h3 class="m-2">User : {{user_id}}</h3>
            </div>
            <div class="card-body text-left">
              <h5 class="m-2 mb-3">Current Value: ${{portfolioValue}}</h5>
              <h6 class="m-2">Top Stock: {{#if topStock}}{{topStock}}{{else}}N/A{{/if}}</p>
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>No other portfolios found.</p>
      {{/if}}
    </div>

    {{#if isAdmin}}
      <button class="btn btn-primary my-4" onclick="copyToClipboard('{{groupData.group_code}}')">Copy Join Code: {{groupData.group_code}}</button>
    {{/if}}

  </div>
</body>
